// TYPO
// --------------------------------------------------
// Font Family
//@r : Raleway
$open-sans:'OpenSans-Regular';
$roboto:'Roboto', sans-serif;

// Font Weight
$thin:100;
$light:300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;
$extra-bold:900;

//Font Size
$font-size-base: 16px;

// THEME COLORS
// --------------------------------------------------
/*Couleurs principales*/
$white:#FFFFFF;
$black:#000000;

/*Couleurs secondaires*/



 
