.form-connexion{
    padding: 30px;
    border: 1px solid #ccc;
    @include border-radius(10px);
    margin-top: 35px;
    margin-bottom: 35px;

    .form-group{
        &:last-child{
            margin-bottom:0;
        }
    }
}
.register-link{
    a{
        font-weight:$semi-bold;
    }
}

//Menu
.dashboard-menu{
    display:block; 
    position:relative;
    @include clearfix;
    margin-bottom:50px;
    border-bottom:#666;

    li{
        list-style-type:none;
        display:block; 
        float:left;
        width:calc(20% - 10px);
        margin-right:10px;

        &:last-child{
            margin-right:0;
        }

        a{
            display:inline-block; 
            padding:10px 25px;
            background-color:#666;
            color:$white;
            border-radius: 0;
            width:100%;
            border-top-left-radius: 5px;
            border-top-right-radius:5px;


            &.active{
                background-color:$black;
                font-weight:bold;
            }
        }
    }
}

//add subject
.form-add-subject{
    label{
        font-weight:$semi-bold;
    }

    .form-check{
        margin-bottom:1rem;

        input{
            position: relative;
        }
    }
}

//single post
.single-post-wrapper{
  .title-post{
      @include font-size(28px);
      margin-bottom:25px;
  }  

  .description{
    @include font-size(16px);
    line-height:24px;

    p, ul{
        margin-bottom:10px;
    }

    ul{
        display:block;

        li{
            list-style-type: disc;
            margin-left: 45px;
        }
    }
  }
}

//commentaire
.commentaire-wrappers{
    margin-top:30px;

    
    footer{
        width:auto;
    }   

    .comments-title{
        @include font-size(20px);
        font-weight:$bold;
    }
}

.comment-content{
    background-color:$white;
    position:relative;

    .comment-author{
        .comment-author-value{
            @include font-size(16px);
            font-weight:$semi-bold;
            margin-bottom:12px;
        }

        .comment-metadata{
            @include font-size(14px);
            color:#999999;

            > a{
                color:#999999;
            }
        }
    }

    .comment-description{
        @include font-size(16px);
        margin-bottom:10px;
        line-height:24px;
    }

    .commentaire-btn{
        display:block; 
        position: absolute;
        bottom:-17.5px;
        height:35px;
        right:0;
        width:100%;
        text-align:right;

        a{
            display: inline-block;
            padding: 10px 20px;
            @include border-radius(3px);
            background-color: #fff;
            border: 1px solid #999;
            text-align: center;
            margin: 0 10px;
            font-size: 14px;
            line-height: 16px;
            color: #000;
        }
    }
}

#comments .media-list li .media{
    margin-top:40px;
}

.comment-respond{
    .comment-reply-title{
        @include font-size(21px);
        text-transform: uppercase;
        font-weight:$semi-bold;
        margin-bottom:21px;
    }

    .logged-in-as{
        display:none;
    }

    .form-text{
        &.text-muted{
            @include font-size(14px);
            line-height: 22px;
            margin-bottom: 15px;
        }
    }
}

//homepage
.hp-recente-post{
    padding:50px 0;
}
.recente-post-item{
    .card-body{
        min-height:260px;

        > a{
            background-color:#00b5f1;
            border-color:#00b5f1;
        }
    }

    .card-title{
        color:#00b5f1;
        @include font-size(18px);
        line-height: 26px;
        font-weight: $semi-bold;

        a{
            color:#00b5f1;
        }
    }

    .card-date-terms{
        margin-bottom:15px;
        @include font-size(14px);

        .card-terms{
            a{
                color:#000;
                font-weight:bold;
            }
        }
    }

    .card-text{
        @include font-size(16px);
        line-height:24px;
        margin-bottom:15px;
    }
}

.post-item{
    .post-item-title{
        @include font-size(24px);
        font-weight:$semi-bold;
        color:#2382ff;
        margin-bottom:15px;
    }

    .card-date-terms{
        @include font-size(16px);
        color:rgba(0,0,0,0.4);
        margin-bottom:10px;

 
    }
    .post-item-description{
        line-height: 22px;
        margin-bottom:10px;
    }

    .post-item-category{
        .card-terms{
            a{
                color:#000;
                font-weight:bold;
            }
        }
    }
}

//categorie
.nav-pills{
    display:block; 
    position:relative; 
    

    .nav-item{
        display:block; 
        width:100%;
        border-bottom:1px solid #fff;

        &:last-child{
            border-bottom:none;
        }

        &:hover{
            .nav-link{
                background-color:#000;
            }
        }

        .nav-link{
            display:inline-block; 
            position: relative;
            width:100%;
            font-family:$open-sans;
            color:$white;
            @include font-size(16px);
            position: relative;
            text-decoration:none;
            padding:10px 20px;
            background: #666;
            @include border-radius(0);
            @include other-transition(0.3s,  ease-in-out);
        }

        
    }
}

.categorie-wrapper{
    padding-top:50px;

    .cat-title{
        @include font-size(30px);
        font-weight: bold;
        color: #666;
        margin-bottom: 20px;
        //text-transform: uppercase;
    }
}

//pagination
.pagination{
    display:block;
    text-align:center;
    position:relative;


    .nav-links{
        display: block;
        position: relative; 
        text-align:center;

        .page-numbers{
            display: inline-block; 
            position: relative; 
            font-family:$open-sans;
            @include font-size(16px);
            min-width:30px;
            height:30px;
            line-height: 30px;
            color:#fff;
            background:#666;
            @include border-radius(3px);
            padding-left:5px; 
            padding-right:5px;
            margin:0 5px;
        }
    }
}