//homepage
.hp-recente-post{
    padding:50px 0;
}
.recente-post-item{
    .card-body{
        min-height:260px;

        > a{
            background-color:#00b5f1;
            border-color:#00b5f1;
        }
    }

    .card-title{
        color:#00b5f1;
        @include font-size(18px);
        line-height: 26px;
        font-weight: $medium;

        a{
            color:#00b5f1;
        }
    }

    .card-date-terms{
        margin-bottom:15px;
        @include font-size(14px);

        .card-terms{
            a{
                color:#000;
                font-weight:bold;
            }
        }
    }

    .card-text{
        @include font-size(16px);
        line-height:24px;
        margin-bottom:15px;
    }
}

.post-item{
    .post-item-title{
        @include font-size(24px);
        font-weight:$medium;
        color:#2382ff;
        margin-bottom:15px;
    }

    .card-date-terms{
        @include font-size(16px);
        color:rgba(0,0,0,0.4);
        margin-bottom:10px;

 
    }
    .post-item-description{
        line-height: 22px;
        margin-bottom:10px;
    }

    .post-item-category{
        .card-terms{
            a{
                color:#000;
                font-weight:bold;
            }
        }
    }
}


